<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" 
  xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$darticorn</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://darticorn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/82e0a464-1f1d-4537-b4b5-b3299d5677a2/resourcegroups/darts/providers/Microsoft.Web/sites/darticorn</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://darticorn.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <SelfContained>false</SelfContained>
    <RetryAttempts>10</RetryAttempts>
  </PropertyGroup>
</Project>